<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Bears</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link th:href="@{/css/navbarstyle.css}" rel="stylesheet">
</head>

<body>
<!--navbar-->
<div th:insert="navbar :: navbar">  </div>

<div class="container my-2">
    <h1>Weapon List</h1>

    <a th:href="@{/newBearForm}" class="btn btn-primary btn-sm mb-3"> Add Bear </a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th><a th:href="@{'/weapons/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">Weapon Name</a></th>
            <th><a th:href="@{'/weapons/page/' + ${currentPage} + '?sortField=attack&sortDir=' + ${reverseSortDir}}">Attack Power</a></th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="weapon : ${listWeapons}">
            <td th:text="${weapon.name}"></td>
            <td th:text="${weapon.attack}"></td>
            <td>
                <button th:href="@{'/' + ${bearId} + '/addWeapon/' + ${weapon.id}}">Add</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class="col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class="col-sm-4">
                <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:if="${currentPage != i}" th:href = "@{'/weapons/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                    <span th:unless="${currentPage != i}" >[[${i}]]</span> &nbsp; &nbsp;
                </span>
            </div>
            <div class="col-sm-1" th:if="${currentPage > 1}">
                <a th:href="@{'/weapons/page/1'+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
            </div>
            <div class="col-sm-1" th:if="${currentPage > 1}">
                <a th:if="${currentPage > 1}" th:href="@{'/weapons/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Prev</a>
            </div>
            <div class="col-sm-1"  th:if="${currentPage < totalPages}">
                <a th:href="@{'/weapons/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
            </div>
            <div class="col-sm-1" th:if="${currentPage < totalPages}">
                <a th:href="@{'/weapons/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
            </div>
        </div>


    </div>

</div>
</body>

</html>